// Mixins Here
.btn(@font-color: white, @bg-color: @btn-bg-color) {
  background-color: @bg-color;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 8px 16px;
  color: @font-color;
  border: none;
  border-radius: 5px;
}

//mixins for the sake mixins question, hard to actually make use of them on a project of this scale
.dfwrap() {
  display: flex;
  flex-wrap: wrap;
}

.dfjc() {
  display: flex;
  justify-content: center;
}
